body {
    background: #f2f2f2;
    font-family: Arial;
}

.box {
    width: 320px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: blue;
    cursor: pointer;
}
